@import '../tools';

.clipped-header {
  @include clipped_header_circle (50vh, 100vw, 100%, 60%);
}

.ql-editor {
  font-size: 16px;
  overflow: auto;
  padding: 5px;
  // text-align: right;
}

.publish {
  border-radius: 3px;
  width: 150px;
  text-align: center;
  @include app_gradient (-200deg, 0%, 85%);
}

#editorQuill {
  height: 73vh;
  border-radius: 5px;
  padding: 5px;
  background: #ffffff;
  border: 7px solid #e8e8e8;



}