@import '../../tools';
    .postImg {
        width: 100%;
        height: 15%;
        position: relative;

        & img {
            width: 100%;
            height: 100%;
        }
    }
    .postCategory {
        position: absolute;
        bottom:-20px;
        width: 100px;
        font-weight: 400;
        text-align: center;
        font-size: 14px;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    }